* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(/img/background-4074207_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    padding-left: 5%;
    padding-right: 10%;
    border-bottom: 2px solid #000;
    align-items: center;
}  

.navbar-icon {
    margin-right: 7%;
    font-size: 30px;
    color:#000; 
}

#navbar span {
    font-size: 30px;
    color: #000;
    border-bottom: 1px solid #000;
}

#navbar-items a {
    font-size: 20px;
    color: #000;
    margin: 0 1em;
}

#navbar-items a:hover {
    color: #7a7a7a;
}

#image {
    display: inline-block;
}

#image img {
    margin-top: 20%;
    margin-left: 70%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}