* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/background-4074207_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    padding-left: 5%;
    padding-right: 10%;
    border-bottom: 2px solid #000;
    align-items: center;
}  

.navbar-icon {
    margin-right: 7%;
    font-size: 30px;
    color:#000; 
    text-shadow: 2px 2px 0 #fff;
}

#navbar span {
    font-size: 40px;
    color: #000;
    border-bottom: 1px solid #000;
    text-shadow: 1px 1px 0 #fff;
}

#navbar-items a {
    font-size: 20px;
    color: #000;
    margin: 0 1em;
    text-shadow: 1px 1px 0 #fff;
}

#navbar-items a:hover {
    color: #7a7a7a;
}

.titles {
    background-color: #7a7a7a;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 150px;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    color: #000; 
    text-shadow: 2px 2px 0 #fff;
    border-bottom: 2px solid #000;
}

.titles .title {
    font-size: 50px;
}

.titles .subtitle {
    font-size:50px;
}

.footer {
    text-align: center;
    margin-top: 96px;
    background-color: #7a7a7a;
    color:#000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

.text-life {
    color: #000;
    background-color: #7a7a7a;
    margin-top: 100px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

.text-title {
    text-shadow: 1px 1px 0 #fff;
    text-align: center;
}

.text-life p {
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
}