.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    color: black;
    text-shadow: #fff 2px 2px 2px;
}

.main-title2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
    color: #F25A70;
    text-shadow: 4px 4px 0 #000;
    margin-bottom: 28px;
}

.main-title.-second {
    text-align: center;
    color: #fff;
    text-shadow: none;
    font-size: 40px;
}