.body { 
    display: block;
    background-color: #F25A70;
    border-bottom: 10px solid #7C5E99;
    height: 785px;
}

.skills .box-skills {
    display: flex;
    justify-content: space-around;
}

.html {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
}

.css {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
}

.javascript {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
}

.react {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
}