.skill-tec {
    display: inline-flex;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
    top: 67px;
}

.skill-tec .icon {
    margin-right: 25px;
    margin-left: 239px;
    top: 62px;
}
