.title2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
    color: #F25A70;
    text-shadow: 4px 4px 0 #000;
    margin-bottom: 28px;
}

.subtitle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 0 #000;
    color: #fff;
}